

.menu__header {
    position: relative;
    background-color: white;
    &--headline {
        display: flex;
        align-items: center;
        
        
        position: relative;
        height: 100px;

        & .fa-arrow-left {
            
            padding: 15px 30px 15px;
            align-items:flex-start;
            color: black;
        }

        & h1 {
            @include title_font;
            box-shadow: none;
            width: 100%;
            background-color: transparent;
            
        }
    }
    
    
    &--img {
        height: auto;
        max-height: 280px;
        width:  100%;
        object-fit: cover;
        vertical-align: middle;
        margin: 0;
        @include breakpoint($min-breakpoint: 101px, $max-breakpoint:5000px){
            max-height: 400px;

        }
       
    }
}


.__page-link {
    text-decoration: none;
    color: black;
    
    &:hover {
        color: $primary-color;
    }
    &:active {
        text-decoration: none;
        color: $background-color;
    }

}
.color {
    color: white;  
}

