

.menu__header {
    position: relative;
    background-color: white;
    &--headline {
        @include flex (row);
        align-items: baseline;
        //border: solid green;
        position: relative;

        & .fa-arrow-left {
            // border: solid blue;
            padding: 15px 15px;
            align-items: left;
            color: black;
        }

        & h1 {
            @include title_font;
            box-shadow: none;
            width: 100%;
            background-color: transparent;
            
        }
    }
    
    
    &--img {
        height: auto;
        max-height: 280px;
        width:  100%;
        object-fit: cover;
       
    }
}


.__page-link {
    text-decoration: none;
    color: black;
    
    &:hover {
        color: $primary-color;
    }
    &:active {
        text-decoration: none;
        color: $background-color;
    }

}
.--color{
    color: white;  
}

