body {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: auto;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  font-family: Roboto, Verdana, sans-serif;
  font-size: 1.2rem;
  color: black;
}

h1 {
  font-family: Shrikhand, Verdana, sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  padding: 10px 0;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 5px 5px #a0b1b1;
  background-color: white;
}
@media (min-width: 451px) and (max-width: 998px) {
  h1 {
    padding: 15px 0;
    font-size: 2.5rem;
  }
}
@media (min-width: 999px) {
  h1 {
    padding: 20px 0;
    font-size: 3rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #252d2d;
  color: white;
  margin: 0;
  width: 100%;
  padding: 15px 0;
  margin: auto;
}
footer h2 {
  font-family: Shrikhand, Verdana, sans-serif;
  font-size: 1.1rem;
  font-weight: normal;
  width: 100%;
  padding: 0;
  margin-left: 20px;
  text-align: left;
}
@media (min-width: 999px) {
  footer h2 {
    font-size: 1.5rem;
  }
}
footer ul {
  width: 100%;
  padding: 0;
  margin-left: 20px;
}
@media (min-width: 600px) and (max-width: 1000px) {
  footer ul {
    display: flex;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1001px) and (max-width: 9999px) {
  footer ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
footer .__list {
  list-style-type: none;
  padding: 7px;
  display: flex;
  flex-direction: row;
}
@media (min-width: 600px) and (max-width: 9999px) {
  footer .__list {
    width: 40%;
  }
}
@media (min-width: 1001px) and (max-width: 9999px) {
  footer .__list {
    width: auto;
    margin: auto;
  }
}
footer .__list i {
  width: 30px;
  padding-right: 10px;
}
@media (min-width: 600px) and (max-width: 1000px) {
  footer .__list:nth-child(1) {
    order: 1;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  footer .__list:nth-child(2) {
    order: 3;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  footer .__list:nth-child(3) {
    order: 2;
    width: fit-content;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  footer .__list:nth-child(4) {
    order: 4;
    width: fit-content;
  }
}

@media (min-width: 650px) and (max-width: 1000px) {
  .footer {
    max-width: 650px;
  }
}

.loading-page {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 3000px;
  background-color: #252d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeout both;
  animation-duration: 0ms;
  animation-delay: 3s;
}
.loading-page .loader {
  width: 30px;
  height: 30px;
}
.loading-page .loader--quart {
  position: relative;
  border-radius: 50%;
  border: 6px solid #F4F6F6;
}
.loading-page .loader::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #bcc8c8;
  animation: spin linear both;
  animation-duration: 3s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.content {
  top: 0;
  animation: loaded 0ms both;
  animation-delay: 3s;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

@keyframes loaded {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.localisation {
  background-color: #e6ebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  margin: 5px 0 0 0;
  padding: 20px 0;
  font-weight: bold;
}
.localisation i {
  padding: 0 15px;
}

.headline {
  background-color: #F4F6F6;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  font-family: Roboto, Verdana, sans-serif;
  font-size: 1.2rem;
  color: #262626;
  text-align: center;
  margin: auto;
}
.headline__h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  width: 85%;
}
@media (min-width: 999px) {
  .headline__h2 {
    font-size: 2rem;
  }
}
.headline__p {
  width: 85%;
  font-family: Roboto, Verdana, sans-serif;
  font-size: 1.2rem;
  color: black;
}
.headline__btn {
  margin: 20px;
  padding: 15px;
  border: none;
  border-radius: 50px;
  padding: auto 10px;
  margin: auto;
  box-shadow: #d8dfdf 1px 5px;
  outline: none;
  transform: scale(1);
  transition: 500ms;
  cursor: pointer;
  z-index: 0;
  background-image: linear-gradient(-30deg, #ae80e5, #ff93e1);
  font-family: Roboto, Verdana, sans-serif;
  font-size: 1.2rem;
  color: white;
}
.headline__btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(-30deg, #9356DC, #FF79DA);
  transition: all 500ms;
  border-radius: 50px;
}
.headline__btn:hover {
  transform: scale(1.1);
  box-shadow: #bcc8c8 1px 7px;
}
.headline__btn:hover::before {
  opacity: 0;
}
.headline .--margin {
  margin: 15px auto;
}

.working {
  padding: 20px 0;
  width: 100%;
  margin: auto;
  background-color: white;
}
.working h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 20px;
  text-align: left;
}
@media (min-width: 999px) {
  .working h2 {
    font-size: 2rem;
  }
}
.working ol {
  list-style: none;
  counter-reset: customised-counter;
}
@media (min-width: 800px) and (max-width: 9999px) {
  .working ol {
    display: flex;
    justify-content: center;
  }
}
.working ol li {
  font-family: Roboto, Verdana, sans-serif;
  font-size: 1.2rem;
  color: black;
  align-items: baseline;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #F4F6F6;
  border-radius: 25px;
  margin: 25px auto;
  padding: 0 25px;
  position: relative;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 5px 10px #bcc8c8;
  width: fit-content;
  counter-increment: customised-counter;
}
@media (min-width: 800px) and (max-width: 9999px) {
  .working ol li {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 15px;
    margin: 0 auto;
  }
}
.working ol li:hover {
  color: #9356DC;
}
.working ol li::before {
  content: counter(customised-counter) ".";
  color: white;
  background-color: #9356DC;
  height: 25px;
  width: 25px;
  padding: 5px;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  text-align: center;
  left: -10px;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.working ol li .fas {
  size: 1.2rem;
  padding: 15px 0 15px 40px;
}
@media (min-width: 800px) and (max-width: 9999px) {
  .working ol li .fas {
    padding: 0 5px;
  }
}
.working ol li p {
  font-family: Roboto, Verdana, sans-serif;
  font-size: 1.2rem;
  color: black;
  font-weight: normal;
}
@media (min-width: 800px) and (max-width: 9999px) {
  .working ol li p {
    padding: 0 5px;
    text-align: center;
  }
}

.restaurants {
  background-color: #F4F6F6;
  padding: 10px 0;
}
.restaurants h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: left;
}
@media (min-width: 999px) {
  .restaurants h2 {
    font-size: 2rem;
  }
}
@media (min-width: 600px) and (max-width: 9999px) {
  .restaurants__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
}
.restaurants__fig {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  height: 250px;
  margin: 0 auto 60px auto;
}
@media (min-width: 600px) and (max-width: 9999px) {
  .restaurants__fig {
    width: 40%;
  }
}
.restaurants__fig--new {
  color: #32b091;
  background-color: #99E2D0;
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 0 5px;
}
.restaurants__fig--img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.restaurants__fig--caption {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  margin: auto 0;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.restaurants__fig--caption --h3 {
  padding: 0;
  margin: 0;
  font-family: Roboto, Verdana, sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media (min-width: 999px) {
  .restaurants__fig--caption --h3 {
    font-size: 1.75rem;
  }
}
.restaurants__fig--caption:hover .fas {
  opacity: 1;
  cursor: pointer;
}
.restaurants__fig--caption p {
  padding: 0 25px;
  margin: 0;
}
.restaurants__fig--caption .far {
  position: absolute;
  right: 0%;
  padding-right: 10px;
  font-size: 1.5rem;
  color: #9356DC;
}
@media (min-width: 450px) and (max-width: 600px) {
  .restaurants__fig--caption .far {
    padding-right: 100px;
  }
}
@media (min-width: 1000px) and (max-width: 9999px) {
  .restaurants__fig--caption .far {
    padding-right: 100px;
  }
}
.restaurants__fig--caption .fas {
  position: absolute;
  right: 0%;
  padding-right: 10px;
  font-size: 1.5rem;
  opacity: 0;
  color: #9356DC;
  transition: opacity 500ms;
}
@media (min-width: 450px) and (max-width: 600px) {
  .restaurants__fig--caption .fas {
    padding-right: 100px;
  }
}
@media (min-width: 1000px) and (max-width: 9999px) {
  .restaurants__fig--caption .fas {
    padding-right: 100px;
  }
}

.menu__header {
  position: relative;
  background-color: white;
}
.menu__header--headline {
  display: flex;
  align-items: center;
  position: relative;
  height: 100px;
}
.menu__header--headline .fa-arrow-left {
  padding: 15px 15px;
  align-items: left;
  color: black;
}
.menu__header--headline h1 {
  font-family: Shrikhand, Verdana, sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  padding: 10px 0;
  box-shadow: none;
  width: 100%;
  background-color: transparent;
}
@media (min-width: 451px) and (max-width: 998px) {
  .menu__header--headline h1 {
    padding: 15px 0;
    font-size: 2.5rem;
  }
}
@media (min-width: 999px) {
  .menu__header--headline h1 {
    padding: 20px 0;
    font-size: 3rem;
  }
}
.menu__header--img {
  height: auto;
  max-height: 280px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
  margin: 0;
}
@media (min-width: 101px) and (max-width: 5000px) {
  .menu__header--img {
    max-height: 400px;
  }
}

.__page-link {
  text-decoration: none;
  color: black;
}
.__page-link:hover {
  color: #9356DC;
}
.__page-link:active {
  text-decoration: none;
  color: #F4F6F6;
}

.--color {
  color: white;
}

.--bckgrd {
  background-color: #252d2d;
}

.menu {
  background-color: #F4F6F6;
  padding: 20px 0;
  margin: -55px 0 0;
  border-radius: 45px 45px 0 0;
  width: 100%;
}
@media (min-width: 650px) and (max-width: 1000px) {
  .menu {
    max-width: 650px;
    border-radius: 45px;
  }
}
@media (min-width: 1500px) and (max-width: 9999px) {
  .menu {
    border-radius: 45px;
  }
}
.menu__headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
  position: relative;
}
.menu__headline h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: Shrikhand, Verdana, sans-serif;
  text-align: center;
}
@media (min-width: 999px) {
  .menu__headline h2 {
    font-size: 2rem;
  }
}
.menu__headline:hover .fas {
  opacity: 1;
}
.menu__headline .far {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #9356DC;
}
.menu__headline .fas {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  opacity: 0;
  color: #9356DC;
  transition: opacity 500ms;
}

@media (min-width: 1000px) and (max-width: 9999px) {
  .menu__container {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1000px) and (max-width: 9999px) {
  .menu__container section {
    padding-right: 10px;
    padding-left: 0;
    margin-right: 10px;
    width: 30%;
  }
}
.menu__container section h3 {
  color: black;
  border-bottom: #99E2D0 solid;
  width: 15%;
  padding-bottom: 10px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 40px 0 30px 0;
}
.menu__container section .figure {
  cursor: pointer;
}
.menu__container section .figure:hover > .select {
  animation: hover 300ms forwards linear;
}
.menu__container section .figure:hover .choice__selection {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
}
.menu__container section .figure:hover .choice__price {
  transform: translateX(-120%);
  transition-duration: 600ms;
  transition-delay: 50ms;
}
.menu__container section .figure:hover .fas {
  animation: rot 500ms both;
}

.figure {
  display: flex;
  width: 90%;
  border-radius: 25px;
  background-color: white;
  margin: 20px auto;
  height: 75px;
}
@media (min-width: 0px) and (max-width: 320px) {
  .figure {
    height: auto;
  }
}
@media (min-width: 450px) and (max-width: 2000px) {
  .figure {
    min-height: 100px;
  }
}
@media (min-width: 650px) and (max-width: 1000px) {
  .figure {
    max-width: 510px;
  }
}
@media (min-width: 1001px) and (max-width: 9999px) {
  .figure {
    height: auto;
    margin-left: 0;
    width: 100%;
    max-height: 100px;
  }
}
.figure .choice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin: 0px auto;
  padding: 10px 0;
  position: relative;
}
.figure .choice__selection {
  margin: 0;
  width: auto;
  max-width: 100%;
  font-size: 1rem;
}
.figure .choice__selection strong {
  font-family: Roboto, Verdana, sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media (min-width: 999px) {
  .figure .choice__selection strong {
    font-size: 1.75rem;
  }
}
.figure .choice__price {
  width: 10%;
  padding-right: 5px;
  position: absolute;
  right: -15%;
  bottom: -10px;
  font-weight: bold;
}
.figure .select {
  width: 20%;
  padding: 0;
  margin: 0;
  border-radius: 0 25px 25px 0;
  position: relative;
  background-color: #99E2D0;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.figure .select .fas {
  color: white;
  height: 2rem;
  font-size: 2rem;
  transform: rotate(90deg);
}

@keyframes rot {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hover {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.fade-in {
  animation: fadein 1500ms both;
  animation-delay: 1000ms;
}
.fade-in:nth-child(2) {
  animation-delay: 1000ms;
}
.fade-in:nth-child(3) {
  animation-delay: 1250ms;
}
.fade-in:nth-child(4) {
  animation-delay: 1500ms;
}
.fade-in:nth-child(5) {
  animation-delay: 1750ms;
}

@keyframes fadein {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}
.menu__btn {
  display: flex;
}
.menu__btn .btn {
  padding: 15px;
  border: none;
  border-radius: 50px;
  padding: auto 10px;
  margin: auto;
  box-shadow: #d8dfdf 1px 5px;
  outline: none;
  transform: scale(1);
  transition: 500ms;
  cursor: pointer;
  z-index: 0;
  background-image: linear-gradient(-30deg, #ae80e5, #ff93e1);
  font-family: Roboto, Verdana, sans-serif;
  font-size: 1.2rem;
  color: white;
  margin: 25px auto;
  width: 50%;
  max-width: 300px;
}
.menu__btn .btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(-30deg, #9356DC, #FF79DA);
  transition: all 500ms;
  border-radius: 50px;
}
.menu__btn .btn:hover {
  transform: scale(1.1);
  box-shadow: #bcc8c8 1px 7px;
}
.menu__btn .btn:hover::before {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
