// Menu pages layout

.--bckgrd {
    background-color: darken($background-color, 80%);
}

.menu {
    background-color: $background-color;
    padding: 20px 0;
    margin: -55px 0 0;
    border-radius: $menu_radius $menu_radius 0 0;
    // border: solid red;
    // @include flex;
    width: 100%;
    @include breakpoint($min-breakpoint:650px, $max-breakpoint:1000px){
        // min-height: 100px;
        max-width: 650px;
        border-radius: $menu_radius;
    }
    @include breakpoint($min-breakpoint:1500px, $max-breakpoint:9999px){
        border-radius: $menu_radius;
    }

    &__headline {
        // border: green solid;
        @include flex (row);
        align-items: baseline;
        justify-content: space-around;
        width: 100%;
        position: relative;
        

        & h2 {
            @include h2_font;
            font-family: Shrikhand, Verdana, sans-serif;
            // border: solid green;
            text-align: center;
        }

        &:hover .fas {
            opacity: 1;
        }

        & .far {
            display: inline-block;
            position: absolute;
            // border: solid black;
            top: 50%;
            right: 10%;
            transform: translate(-50%, -50%);
            font-size: 1.5rem;
            color: $primary-color;
        }

        & .fas {
            // border: solid grey;
            display: inline-block;
            position: absolute;
            // border: solid black;
            top: 50%;
            right: 10%;
            transform: translate(-50%, -50%);
            font-size: 1.5rem;
            opacity: 0;
            color: $primary-color;
            transition: opacity 500ms;

        }
        
    }
}

.menu__container {
    // border: solid;
    @include breakpoint($min-breakpoint:1000px, $max-breakpoint:9999px){
        display: flex;
        justify-content: space-around;
    }

    & section {
        padding: 0 10px;
        border: solid red;
        @include breakpoint($min-breakpoint:1000px, $max-breakpoint:9999px){
            padding-right: 10px;
            padding-left: 0;
            margin-right: 10px;
            width: 30%;
        }
        & h3 {
            color: black ;
            border-bottom: $third-color solid;
            width: 15%;
            padding-bottom: 10px;
            font-weight: normal;
            text-transform: uppercase;
            margin: 40px 0 30px 0;
            
        }

        & .figure {
            cursor: pointer;
            
            &:hover > .select {
                transform: scaleX(1); 
                transition: transform 1s;   
            }
            & > .select {
                transform: scaleX(0); 
                transition: transform 1s;
                
            }

            &:hover .choice__selection {
                max-width: 80%;
                white-space: nowrap;
                overflow: hidden;
        
            }

            &:hover .choice__price {
                transform: translateX(-120%);
                transition-duration: 600ms;
                transition-delay: 50ms;
                
            }

            &:hover .fas {
                
                animation: rot 500ms both;
                
            }
                
        }
    } 

}

.figure {
    // border: solid blue;
    display: flex;
    // align-items: baseline;
    // height: 100%;
    justify-content: space-between;
    width: 90%;
    border-radius: 25px;
    background-color: white;
    margin: 20px auto;
    height: 75px;
    @include breakpoint($min-breakpoint:0px, $max-breakpoint:320px){
        height: auto;
    }
    @include breakpoint($min-breakpoint:450px, $max-breakpoint:2000px){
        min-height: 100px;
    }
    @include breakpoint($min-breakpoint:650px, $max-breakpoint:1000px){
        max-width: 510px;
    }

    @include breakpoint($min-breakpoint:1001px, $max-breakpoint: 9999px){
        height: auto;
        margin-left: 0;
        width: 100%;
        max-height: 100px;
    }
    
    & .choice {
        @include flex (row);
        justify-content: space-between;
        width: 80%;
        // display: inline;
        position: relative;
        border: solid purple;
        margin: 0px auto;
        padding: 10px 0;
        position: relative;
        overflow: hidden;

        
        &__selection {
            border: solid red;
            // white-space: nowrap;
            padding-left: 10px;
            margin: 0;
            width: 100%;
            max-width: 100%;
            // word-break: break-all;
            // padding-left:px;
            font-size: 1rem;
            // overflow: hidden;
            // text-overflow: ellipsis;

            & strong {
                @include h3_font;
            }
        }
        &__price {
            // border: solid red;
            width: 10%;
            padding-right: 5px;
            // height: 100%;
            position: absolute;
            right: -10%;
            bottom: -10px;
            font-weight: bold;
            
            
            
        }
    }
    & .select {  
        border: solid green;
        width: 25%;
        
        padding: 0;
        margin: 0;
        border-radius: 0 25px 25px 0;
        position: relative;
        background-color: $third-color;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-overflow: ellipsis;
        
        
       

        & .fas {
            color: white;
            height: 2rem;
            font-size: 2rem;
            transform: rotate(90deg);
            
              
        }     
    }
}



@keyframes rot{
    0% {
        transform: rotate(90deg);
        opacity: 0;
    }

    100% {
        transform: rotate(360deg);
    }
}



// @keyframes hover{
//     from {
//         width: 0;
         
//     }
//     to {
//         width: 25%;
        
//     }
// }

// @keyframes non-hover{
//     from {
//         width: 25%; 
        
//     }
//     to {
//         width: 0%;
        
//     }
// }



.fade-in {
    animation: fadein 1500ms both;
    animation-delay: 1000ms;
    &:nth-child(2){
        animation-delay: 1000ms;
        
    }
    &:nth-child(3){
        animation-delay: 1250ms;
        
    }
    &:nth-child(4){
        animation-delay: 1500ms;
        
    }
    &:nth-child(5){
        animation-delay: 1750ms;
        
    }
}




 
@keyframes fadein {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }

    100%{
        transform: translateY(0%);
        opacity: 100%;
    }
}

    
    
    

    

.menu__btn {
    display: flex;
    .btn {
        @include btn;
        @include p_font (white);
        margin: 25px auto;
        width: 50%;
        max-width: 300px; 
            
    }
}
    



