// Menu pages layout



.menu {
    background-color: $background-color;
    padding: 20px 0;
    margin: -55px 0;
    border-radius: $menu_radius $menu_radius 0 0;
    // border: solid red;
    // @include flex;
    width: 100%;

    &__headline {
        border: green solid;
        @include flex (row);
        align-items: baseline;
        justify-content: space-around;
        width: 100%;
        position: relative;
        

        & h2 {
            @include h2_font;
            font-family: Shrikhand, Verdana, sans-serif;
            // border: solid green;
            text-align: center;
        }

        &:hover .fas {
            opacity: 1;
        }

        & .far {
            display: inline-block;
            position: absolute;
            border: solid black;
            top: 50%;
            right: 10%;
            transform: translate(-50%, -50%);
            font-size: 1.5rem;
            color: $primary-color;
        }

        & .fas {
            border: solid grey;
            display: inline-block;
            position: absolute;
            border: solid black;
            top: 50%;
            right: 10%;
            transform: translate(-50%, -50%);
            font-size: 1.5rem;
            opacity: 0;
            color: $primary-color;
            transition: opacity 500ms;

        }
        
    }
}

.menu__container {
    border: solid;

    & section {
        border: solid;
        & h3 {
            color: black ;
            border-bottom: $third-color solid;
            width: 15%;
            padding-bottom: 10px;
            font-weight: normal;
            text-transform: uppercase;
            margin: 40px 0 30px 0;
            
        }

        & figure {
            width: 90%;
            // border: solid red;
            @include flex(row);
            border-radius: 25px;
            background-color: white;
            padding: 20px 0 20px 5px;
            margin: 20px auto;

            &:hover > .menu__choice--select {
                opacity: 1;
                transform: translateX(-100%);
            }

            &:hover .menu__choice--price {
                transform: translateX(-100%);
            }

            &:hover .fas {
                opacity: 1; 
                transform: rotate(360deg);
            }
                
        }
    } 

}

figure {
    
    & .choice {
        @include flex (row);
        justify-content: space-between;
        width: 100%;
        display: inline;
        position: relative;
        // border: solid purple;
        margin: 0px auto;
        padding: 0;
        
        &__selection {
            // border: solid red;
            margin: 0;
            width: auto;
            max-width: 80%;
            padding-left: 10px;
            font-size: 1rem;
            & strong {
                @include h3_font;
            }
        }
        &__price {
            // border: solid green;
            width: 10%;
            padding-right: 10px;
            // height: 100%;
            position: absolute;
            right: 0;
            bottom: -50%;
            font-weight: bold;
            text-align: bottom;
            
        }
        &__select {  
            
            
            & .fas {
                color: black;
               
                
            }  
        }

        
    }
}


.fade-in {
    animation: fadein 1500ms both;
    &:nth-child(2){
        animation-delay: 0ms;
        
    }
    &:nth-child(3){
        animation-delay: 250ms;
        
    }
    &:nth-child(4){
        animation-delay: 500ms;
        
    }
}




 
@keyframes fadein {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }

    100%{
        transform: translateY(0%);
        opacity: 100%;
    }
}

    
    
    

    

.menu__btn {
    display: flex;
    .btn {
        @include btn;
        @include p_font (white);
        margin: 25px auto;
        width: 50%; 
            
    }
}
    



