// Menu pages layout



.menu {
    background-color: $background-color;
    padding: 20px 0;
    margin: -55px 0;
    border-radius: $menu_radius $menu_radius 0 0;
    // border: solid red;
    // @include flex;

    &__headline {
        // border: red solid;
        @include flex (row);
        align-items: baseline;
        justify-content: space-around;
        width: 100%;

        & h2 {
            @include h2_font;
            font-family: Shrikhand, Verdana, sans-serif;
            // border: solid green;
            text-align: center;
        }

        & .far {
            // border: solid green;
            color: black;
            @include h2_font;
            // text-align: center;
            //il faut 2 coeurs et travailler avec opacity
        }
        
    }
    
    &__btn {
        display: flex;
        .btn {
            @include btn;
            @include p_font (white);
            margin: 25px auto;
            width: 50%;   
        }
    }

}


section {
    width: 100%;

    & h3 {
        color: black ;
        border-bottom: $third-color solid;
        width: fit-content;
        padding-bottom: 10px;
        font-weight: normal;
    }

    & .menu__choice {
        // border: solid blue;
        @include flex (row);
        background-color: white;
        margin: 10px auto;
        border-radius: 25px;
        justify-content: space-between;
        width: 100%;
        position: relative;

        &--choice {
            // border: solid red;
            width: auto;
            max-width: 80%;
            padding-left: 10px;
        }
        &--price {
            // border: solid green;
            width: 10%;
            position: absolute;
            left: 90%;
            bottom: 0%;
            font-weight: bold;
        
        }
    }
}



