.localisation {
    background-color: darken($background-color, 5%);
    @include flex (row);
    margin: 5px 0 0 0;
    padding: 20px 0;
    font-weight: bold;
    & i {
        padding: 0 15px;
    }
}

.headline {
    background-color: $background-color;
    padding: 50px 0;
    @include flex;
    @include p_font (lighten($color: black, $amount: 15%));
    //border: solid black;
    text-align: center;
    margin: auto;
    &__h2 {
        @include h2_font;
        width: $width;
        //border: solid red;
    }
    &__p {
        width: $width;
        @include p_font;
          
    }
    &__btn {
        margin: nth($margin_padding, 4);
        @include btn;
        @include p_font (white);
        
    }
    & .--margin {
        margin: 15px auto;
    }

}

.working {

    padding: nth($margin_padding, 4) 0;
    width: 100%;
    margin: auto;
    //border: solid blue;

    & h2 {
        @include h2_font;
    }

    & ol {
        list-style: none;
        counter-reset: customised-counter;
<<<<<<< Updated upstream
        
=======
>>>>>>> Stashed changes
    

        & li {
            @include p_font;
<<<<<<< Updated upstream
            white-space: nowrap;
=======
>>>>>>> Stashed changes
            //border: solid red;
            align-items: baseline;
            background-color: $background-color;
            border-radius: 25px;
            margin: 25px auto;
            position: relative;
            /* offset-x | offset-y | blur-radius | color */
            box-shadow: 0px 5px 10px darken($color: $background-color, $amount: 20%);
<<<<<<< Updated upstream
            transition: 250ms;

            
                
            }  
=======
>>>>>>> Stashed changes
            &:hover {
                color: $primary-color;
            }

            counter-increment: customised-counter;

            &::before {
                content: counter(customised-counter) ".";
                color: white;
                background-color: $primary-color;
                height: 25px;
                width: 25px;
                padding: 5px;
                border-radius: 50%;
                display: inline-block;
                align-items: center;
                text-align: center;
                left: -10px;
                top: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
              }
            
    
            & .fas {
                // border: solid blue;
                size: $p_size;
                padding: 15px 0 15px 40px;
<<<<<<< Updated upstream
                 
=======
>>>>>>> Stashed changes
                
                  
            }
    
            & p {
                @include p_font;
<<<<<<< Updated upstream
                font-weight: normal;  
                border: solid red;
                
        }
    }
    i {
        //border: solid;
        width: 50px;
        //height: 50px;
        position: absolute;
        left: 5px;
        align-content: baseline;
        // text-decoration: underline;
        
     }
=======
                font-weight: normal;   
            }
    
        
        }
>>>>>>> Stashed changes

    }      
}      

    


.restaurants {
    background-color: $background-color;
    padding: 10px 0;
    & h2 {
        @include h2_font;
    }

    &__container {
        border: solid;
        
    }

    &__fig {
        position: relative;
        @include flex;
        background-color: white;
        border-radius: 25px;
        height: 250px;
        margin: 0 auto 60px auto;
        border: solid blue;
        


        &--new {
            color: darken($third-color, $amount: 30%);
            background-color: $third-color;
            position: absolute;
            top: 10%;
            right: 10%;


        }
        &--img {
            width: 100%;
            height: 70%;
            object-fit: cover;
            @include radius;
            margin: 0;
            padding: 0;
            vertical-align: middle;
            border: solid green;
        }
        &--caption {
            @include flex(row);
            margin: auto 0;
            border: solid red;
            width: 100%;
            justify-content: space-between;
            position: relative;
            & --h3 {
                padding: 0;
                margin: 0;
                @include h3_font;
            }
            &:hover .fas {
                opacity: 1;
            }

            & p {
                border: aqua solid;
                padding: 0 25px;
                margin: 0;
            }

            & .far {
                position: absolute;
                border: solid black;
                height: 50%;
                width: 50px;
                top: 25%;
                right: 10%;
                font-size: 1.5rem;
                color: $primary-color;
            }

            & .fas {
                border: solid grey;
                position: absolute;
                height: 50%;
                width: 50px;
                top: 25%;
                right: 10%;
                font-size: 1.5rem;
                opacity: 0;
                color: $primary-color;
                transition: opacity 500ms;

            }
        }
    
                    

                

                

                
                
    }
}
    

    
    




