.localisation {
    background-color: darken($background-color, 5%);
    @include flex (row);
    margin: 5px 0 0 0;
    padding: 20px 0;
    font-weight: bold;
    & i {
        padding: 0 15px;
    }
}

.headline {
    background-color: $background-color;
    padding: 50px 0;
    @include flex;
    @include p_font (lighten($color: black, $amount: 15%));
    //border: solid black;
    text-align: center;
    margin: auto;
    &__h2 {
        @include h2_font;
        width: $width;
        //border: solid red;
    }
    &__p {
        width: $width;
        @include p_font;
          
    }
    &__btn {
        margin: nth($margin_padding, 4);
        @include btn;
        @include p_font (white);
        
    }
    & .--margin {
        margin: 15px auto;
    }

}

.working {

    padding: 20px 0;
    width: 100%;
    margin: auto;
    //border: solid blue;
    

    & h2 {
        @include h2_font;
        margin-top: 20px;
    }

    & ol {
        list-style: none;
        counter-reset: customised-counter;
        @include desktop{
            @include flex(row);
        }
    

        & li {
            @include p_font;
            //border: solid red;
            align-items: baseline;
            background-color: $background-color;
            border-radius: 25px;
            margin: 25px auto;
            position: relative;
            /* offset-x | offset-y | blur-radius | color */
            box-shadow: 0px 5px 10px darken($color: $background-color, $amount: 20%);

            @include desktop{
                display: flex;
                justify-content: space-evenly;
                border: solid green; 
                width: 30%;
                
            } 
            &:hover {
                color: $primary-color;
            }

            counter-increment: customised-counter;

            &::before {
                content: counter(customised-counter) ".";
                color: white;
                background-color: $primary-color;
                height: 25px;
                width: 25px;
                padding: 5px;
                border-radius: 50%;
                display: inline-block;
                align-items: center;
                text-align: center;
                left: -10px;
                top: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
              }
            
    
            & .fas {
                // border: solid blue;
                size: $p_size;
                padding: 15px 0 15px 40px;
                @include desktop{
                  padding: 0;
                  justify-content: space-between; 
                  border: solid red; 
                } 
                
                  
            }
    
            & p {
                @include p_font;
                font-weight: normal;  
                border: solid red;
                
            }
    
        
        }

    }      
}
    


.restaurants {
    background-color: $background-color;
    padding: 10px 0;
    & h2 {
        @include h2_font;
    }

    &__container {
        @include desktop{
            @include flex (row);
            width: 100%;
            flex-wrap: wrap;
        }
        
    }

    &__fig {
        background-color: white;
        border-radius: 25px;
        height: 250px;
        margin: 0 auto 60px auto;
        // border: solid blue;
        @include desktop{
            width: 40%;
        }
    }
    &__img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        @include radius;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        // border: solid green;
    }

    & figcaption {
        height: 30%;
        width: 100%;
        // border: solid red;
        display: flex;
        margin: 0 0;
        padding: 0;
        

        & div {
            display: flex;
            width: auto;
            height: 100%;
            margin: auto 0;
            flex-direction: column;
            // border: solid green;
            padding: 0 15px;
            justify-content: center;
            
            & .fas {
                color: $primary-color;
                font-size: 2rem;
                margin: 0 0 0 125px;    
            }
        }
        

        & h3 {
            padding: 0;
            margin: 0;
            @include h3_font;
        }

        & p {
            padding: 0;
            margin: 0;
            @include p_font;
        }
        
    }
    

}


