//In this file you will find the base for the webpage

body {
    width: 100%;
    height: 100%;
    max-width: $mobile-width;
    margin: auto;
    border: solid red;
    font-size: 1rem;
    @include flex;
    @include p_font;
    @include tablet {
        max-width: $desktop-width - 1px;
    }
    @include desktop {
        max-width: 100%;
    }
    
    
}


h1 {
    @include title_font;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 5px 5px darken($color: $background-color, $amount: 30%);
    background-color: white;
    
   
}




footer {
    @include footer;  
}

$timing: 0s;


.loading-page {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 3000px;
    background-color: darken($background-color, 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeout both;
    animation-duration: 0ms;
    animation-delay: $timing;
    // @include tablet {
    //     width: $tablet-width;
    // }
    & .loader {
        width: 30px;
        height: 30px;
        // display: inline-block;
        // vertical-align: middle;
        // position: relative;
        &--quart {
            position: relative;
            border-radius: 50%;
            border: 6px solid $background-color;

        }
        &::after {
            content: "";
            position: absolute;
            top: -6px;
            left: -6px;
            bottom: -6px;
            right: -6px;
            border-radius: 50%;
            border: 6px solid transparent;
            border-top-color: darken($background-color, 20%);
            animation: spin linear both;
            animation-duration: $timing;
            
        }
    }
}

@keyframes spin {
    0% { transform: rotate(0deg)}
    100% { transform: rotate(1080deg)}
}

@keyframes fadeout { 
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.content {
    // position: absolute;
    top: 0;
    // left: 0;
    animation: loaded 0ms both;
    animation-delay: $timing;
    min-width: $mobile-width;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // text-align: center;
    @include tablet {
        max-width: $desktop-width - 10px;
        margin: auto;
    }
}

@keyframes loaded{
    0% {
    opacity: 0;
}
100% {
    opacity: 1;
    }
}

