//In this file you will find the base for the webpage

body {
    width: 100%;
    max-width: $mobile-width;
    margin: auto;
    //border: solid black;
    font-size: 1rem;
    @include p_font;
    @include desktop{
        max-width: #{$desktop-width - 10px};
    }
}

h1 {
    @include title_font;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 5px 5px darken($color: $background-color, $amount: 30%);
    @include desktop{
        font-size: 3rem;
        padding: 40px 0;
    }
}

.__page-link {
    text-decoration: none;
    color: black;
    &:hover {
        color: $primary-color;
    }
    &:active {
        text-decoration: none;
        color: $background-color;
    }

}

