//In this file you will find the base for the webpage

body {
    @include body;
    @include p_font;
}

h1 {
    @include title_font;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 5px 5px darken($color: $background-color, $amount: 30%);
}

.__page-link {
    text-decoration: none;
    color: black;
    &:hover {
        color: $primary-color;
    }
    &:active {
        text-decoration: none;
        color: $background-color;
    }

}

